@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #03045e;
}

.title {
  padding-top: 6rem;
  padding-bottom: 5rem;
  font-size: 50px;
  font-weight: 500;
}

h2 {
  color: #04a0f5;
}

.header {
  padding: 25px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 50px;
}

.btn-1 {
  height: 70px;
  border-color: #0066ff;
  width: 100%;
  min-height: 200;
  border-radius: 15px;
  transition: all 0.4s;
}

.btn-desc {
  padding-top: 0.2rem;
  font-size: 27px;
  font-weight: 400;
  color: #fff;
}
.row {
  padding-bottom: 2rem;
}

.btn-1:hover {
  background-color: #0066ff;
}
